/* -------------------------------- RESET CSS ------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
textarea {
  resize: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------- GENERAL -------------------------------- */

* {
  box-sizing: border-box;
  font-family: 'Inter';
}
body {
  font-family: 'Inter';
  background: #181523;
  padding: 20px;
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
@media screen and (max-width: 950px) {
  body {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

/* ----------------------------- PART CONTAINER ----------------------------- */

.userStatAndShopContainer, .monsterStatAndCollectionContainer {
  display: grid;
  grid-template-rows: fit-content(50%);
  gap: 20px;
}
@media screen and (max-width: 950px) {
  .userStatAndShopContainer, .monsterStatAndCollectionContainer {
    display: block;
  }
  #shopPart {
    margin-top: 20px;
  }
  #collectionPart {
    margin-top: 20px;
  }
}

/* -------------------------------- ELEMENTS -------------------------------- */

.textTitle {
  font-size: 24px;
}
.textS1 {
  font-size: 20px;
}
.textS2 {
  font-size: 16px;
}
.textS3 {
  font-size: 12px;
}
@media screen and (max-width: 1200px) {
  .textTitle {
    font-size: 22px;
  }
  .textS1 {
    font-size: 18px;
  }
  .textS2 {
    font-size: 14px;
  }
  .textS3 {
    font-size: 12px;
  }
}
@media screen and (max-width: 1050px) {
  .textTitle {
    font-size: 20px;
  }
  .textS1 {
    font-size: 16px;
  }
  .textS2 {
    font-size: 13px;
  }
  .textS3 {
    font-size: 11px;
  }
}

.buttonType1 {
  background: #5736D8;
  border-radius: 5px;
  color: #F3F3F3;
  border: none;
  padding: 15px;
  transition: 0.2s;
  cursor: pointer;
}
.buttonType1:hover {
  background: #3d22aa;
}
.hoverType1 {
  transition: 0.2s;
  cursor: pointer;
}
.hoverType1:hover {
  background: #ebeaee;
}
.iconCoins {
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background: #F0BE35;
}
.sortIcon {
  background: url("../assets/icons/sortIcon.png") center/cover;
  height: 19px;
  width: 19px;
}
.sortIconContainer {
  padding: 5px;
  border-radius: 5px;
}
.lineSeparation {
  width: 100%;
  min-height: 1px;
  max-height: 1px;
  height: 1px;
  background: #A3A3A3;
}
.textStatContainer {
  display: flex;
  align-items: center;
  gap: 3px;
}
/* .textStatContainer .textStatTitle, #userStatPart .textStatContainer .currentValue {
  font-size: 16px;
} */
.statBarTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}
.pointSeparation {
  width: 6px;
  height: 6px;
  border-radius: 100px;
  background: black;
}
/* .statBarTitle .currentValue, #userStatPart .statBarTitle .currentTitle {
  font-size: 18px;
} */
.statBarContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.statBar {
  width: 100%;
  height: 23px;
  background: #D1D1D1;
  border-radius: 100px;
}
.inputType1 {
	min-width: 365px;
	padding: 10px;
	border: none;
	background: #ebebf3;
	border-radius: 3px;
	color: #4c4a52;
}
.inputType1::placeholder {
	color: #73717b;
}
.inputType1:focus-visible {
	outline: none;
}
@media screen and (max-width: 510px) {
  .inputType1 {
    min-width: 250px;
  }
}